
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" /> -->
    <link type="text/css" rel="stylesheet" href="/static/css/Admin.css" />
   
    <title>Admin Dashboard</title>
    
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="company-title">wilshopping</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/products">
                        <span class="icon">
                            <ion-icon name="bag-outline"></ion-icon>
                        </span>
                        <span class="title">Product</span>
                    </a>
                </li>

                <li>
                    <a href="/products/category/1">
                        <span class="icon">
                            <ion-icon name="box-outline"></ion-icon>
                        </span>
                        <span class="title">Categories</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <form  method="post" action="http://localhost:5000/admin/filter">
                <div class="search">
                    <label>
                        <input type="text" name="search_term" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                </form>

                <div class="user">
                    <img src="/static/img/t1.jfif" alt="">
                </div>
            </div>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{total}}</div>
                        <div class="cardName">Total Product</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="bag-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">100</div>
                        <div class="cardName">Sales</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">$7,842</div>
                        <div class="cardName">Earning</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>data</h2>
                        <a href="/products/create" class="btn">Add Product</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                
                                <td>Product_Name</td>
                                <td>about_product</td>
                                <td>Description</td>
                                <td>image_name</td>
                                <td>Quantity</td>
                                <td>Category</td>
                                <td>Price</td>
                                <td>Create_at</td>
                                <td> </td>
                            </tr>
                        </thead>

                        <tbody>
                           
                            {% for product in products %}
                            <tr>
                                <td><h5>{{ product.product_name }}</h5></td>
                                <td>{{ product.about_product }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.image_name }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.category_id }}</td>
                                <td>{{ product.prices }} FCFA</td>
                                <td>{{ product.create_at}} </td>
                                <td><span class="status">Paid</span></td>
                                <td><a href="/products/{{product.id}}/edit"><i class="fa fa-edit"></i></a> </td>
                                <td><a href="/delete/product/{{ product.id }}"><ion-icon name="trash-outline"></ion-icon></a> </td>
                            </tr>
                           
                            {% endfor %}
                           
                           
                          
                                        
                            
                           
                          

                           

                           
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t2.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t3.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t1.jfif" alt=""></div>
                            </td>
                            <td>
                                <h4>Misha <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t3.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t2.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t3.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/static/img/t1.jfif" alt=""></div>
                            </td>
                            <td>
                                <h4>Misha<br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">

                                <div class="imgBx"><img src="/static/img/t3.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
   
    <script type="text/javascript" src="/static/js/Admin.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>
</body>

</html>