<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHEARCH</title>
    <link rel="icon" href="/static/img/light-logo.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/WilShopping.css">

    
</head>
<body>
<nav class="navbar"></nav>
<!--shirts-container-->
<section class="product">
    <h2 class="product-category">Produit retrouve </h2>
    <button class="pre-btn"><img src="static/img/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="/static/img/arrow.png" alt=""></button>
    <div class="product-container">
        
        {% for product in products %}
        
      
      

       

       <div class="product-card">
             <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="/static/uploads/images/{{product.image_name }}" alt="" class="product-thumb">
                <button class="card-btn">ajouter a la liste</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand"> 
                  
                   {{product.product_name }} 

                </h2>
                <p class="product-short-des">{{product.about_product }} </p>
                <span class="price"> {{product.prices }}FCFA </span><span class="actual-price"></span>
            </div>
        </div>
        {% endfor %}
       
    </div>
    </section>
    <section class="product">
        <h2 class="product-category">Chaussures </h2>
        <button class="pre-btn"><img src="/static//static/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/static//static/img/arrow.png" alt=""></button>
        <div class="product-container">
            
            {% for product in productss %}
            
          
          
    
           
    
           <div class="product-card">
                 <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="/static/uploads/images/{{product.image_name }}" alt="" class="product-thumb">
                    <button class="card-btn">ajouter a la liste</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand"> 
                      
                       {{product.product_name }} 
    
                    </h2>
                    <p class="product-short-des">{{product.about_product }} </p>
                    <span class="price"> {{product.prices }}FCFA </span><span class="actual-price"></span>
                </div>
            </div>
            {% endfor %}
           
        </div>
        </section>
        <section class="product">
            <h2 class="product-category">T-Shirts </h2>
            <button class="pre-btn"><img src="/static//static/img/arrow.png" alt=""></button>
            <button class="nxt-btn"><img src="/static//static/img/arrow.png" alt=""></button>
            <div class="product-container">
                
                {% for product in productsss %}
                
              
              
        
               
        
               <div class="product-card">
                     <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="/static/uploads/images/{{product.image_name }}" alt="" class="product-thumb">
                        <button class="card-btn">ajouter a la liste</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"> 
                          
                           {{product.product_name }} 
        
                        </h2>
                        <p class="product-short-des">{{product.about_product }} </p>
                        <span class="price"> {{product.prices }}FCFA </span><span class="actual-price"></span>
                    </div>
                </div>
                {% endfor %}
               
            </div>
            </section>
<!--shoes-container-->

<footer></footer>
<script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/Nav.js"></script>
    <script type="text/javascript" src="/static/js/WilShopping.js"></script>
    <script src="/static/jsfooter.js"></script>
   
</body>
</html>